<div fxFlex=100 fxLayoutAlign="center center" style="margin-top: 150px;border-radius: 10px;">

    <mat-card fxFlex=35 fxLayout="row" fxLayoutAlign="center center">
        <form fxFlex=100 [formGroup]="forgetpasswordform" (ngSubmit)="forget()">

            <div fxFlex=100 fxLayout="column">

                <div fxLayoutAlign="center center" fxLayout="column">
                    <p style="font-size: xx-large;">
                        <span class="b">F</span>
                        <span class="r">u</span>
                        <span class="y">n</span>
                        <span class="b">D</span>
                        <span class="g">o</span>
                        <span class="r">o</span>
                        <span class="b">N</span>
                        <span class="y">o</span>
                        <span class="r">t</span>
                        <span class="g">e</span>
                        <span class="b">s</span>
                    </p>
                    <h1>Account recovery</h1>
                    <h3>Recover your FunDooNotes Account</h3>
                </div>

                <div>
                    <mat-form-field fxFlex=100 appearance="outline" style="width: 400px ">
                        <mat-label>Email or Phone</mat-label>
                        <input matInput type="text" placeholder="Email or Phone" formControlName="email">
                        <mat-error>Email is required</mat-error>
                    </mat-form-field>
                </div>
                
                <div style=" padding-top:25px;padding-bottom:30px;padding-right: 10px;" fxFlexAlign="end">
                    <button mat-raised-button color="">Next</button>
                </div>
            </div>

        </form>
    </mat-card>
</div>