
.b {
    color: #4285F4;
  }
  
  .r {
    color: #DB4437
  }
  
  .y {
    color: #F4B400
  }
  
  .g {
    color: #0F9D58
  }

  .mat-raised-button{
    background-color: #4285F4;
    color: white;
  }

  