
.b {
    color: #4285F4;
  }
  
  .r {
    color: #DB4437
  }
  
  .y {
    color: #F4B400
  }
  
  .g {
    color: #0F9D58
  }
  
  a {
    text-decoration: none;
  }
  .mat-raised-button{
    background-color: #4285F4;
    color: white;
  }
  .mat-checkbox-background{
    color:  #4285F4;
  }