<div fxFlex=100 fxLayoutAlign="center center" style="margin-top: 150px;border-radius: 10px;">

    <mat-card fxFlex=35 fxLayout="row" fxLayoutAlign="center center">
        <form fxFlex=100 [formGroup]="resetpasswordform" (ngSubmit)="reset()">

            <div fxFlex=100 fxLayout="column">

                <div fxLayoutAlign="center center" fxLayout="column">
                    <p style="font-size: xx-large;">
                        <span class="b">F</span>
                        <span class="r">u</span>
                        <span class="y">n</span>
                        <span class="b">D</span>
                        <span class="g">o</span>
                        <span class="r">o</span>
                        <span class="b">N</span>
                        <span class="y">o</span>
                        <span class="r">t</span>
                        <span class="g">e</span>
                        <span class="b">s</span>
                    </p>
                    <h1>Reset password</h1>
                </div>

                <div>
                    <mat-form-field fxFlex=100 appearance="outline" style="width: 400px;">
                        <mat-label>New Password</mat-label>
                        <input matInput type="text" placeholder="New password" formControlName="password"
                            [type]="hide ? 'password' : 'text'">
                        <mat-error>Password is reqiured. Length 6-10 characters</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field fxFlex=100 appearance="outline" style="width: 400px;">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="text" placeholder="Confirm password" formControlName="confirmPassword"
                            [type]="hide ? 'password' : 'text'">
                        <mat-error>password length should be 6</mat-error>
                        <mat-error>Passwords did not match</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex=100 style="padding-bottom: 25px">
                    <mat-checkbox color="primary" (click)="hide = !hide">Show password</mat-checkbox>
                </div>
                <div style=" padding-top:25px;padding-bottom:30px;padding-right: 10px;" fxFlexAlign="end">
                    <button mat-raised-button color="">Reset password</button>
                </div>
            </div>

        </form>
    </mat-card>
</div>